@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap");

/* css du forum entier */
*{
    box-sizing: border-box;
}

a{
    color:#444444;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
    font-family: "Francois One", 'Arial Narrow Bold', sans-serif;
    letter-spacing:2px;
}
h4{
    font-family: "Roboto", 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
p{
    font-family: "Roboto",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*           Forums.html.twig                       */

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#fff;
    padding: 5px;
    border: solid 2px #4279e4;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border: solid 2px rgb(66, 121, 228);
    background-color:#fff;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-devider{
    display: none;   
}

/* Responsive smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(44, 44, 44, 0), rgba(66, 121, 228, 0.75), rgba(4, 44, 44, 0));
    }
  }

/* Responsive tablettes */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  }

/*            posts.html.twig                       */

/* Titres des posts  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #4279e4;
    font-weight: bold;
    color:white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #fff;
    color:#444444;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* Chemin de navigation */
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 18px;
}

.navigate a{
    color: #444444;
}

.navigate a:hover{
    color:#4279e4;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #444444;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #444444;
}

.pagination a:hover{
    opacity: 0.5;
}


/*            detail.html.twig                     */

.head{
    display: flex;
    background-color: #4279e4;
    color:#fff;
    padding: 5px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color:#444444;
    padding: 10px;
    margin-top: 5px;
    border: solid 2px #4279e4;
}

.body .authors .username{
    font-size: 18px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
    clip-path: ellipse(50% 50%) !important;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #4279e4;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
    border: solid 1px #4279e4;
}

.comment-area input{
    float: right;
    padding: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #4279e4;
}
