body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
main{
    max-width: 100vw;
    padding-left:5%;
    padding-right:5%;
}
h2{
    font-family: "Francois One", Georgia, 'Times New Roman', Times, serif;
}
p{  
    text-align: justify;
}