@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Roboto Regular";
  src:  url("assets/fonts/Roboto-Regular.ttf") format("ttf"),
 }
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap");
body {
  margin: 0;
}
header {
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 75px;
  width: 100%;
}
label, #toggle
{
    display: none;
}
.first-nav {
  display: flex;
  list-style: none;
}
.fisrt-nav li {
  margin-top: auto;
  margin-right: auto;
}
.first-nav li a {
  text-decoration: none;
  justify-content: space-between;
  color: #000;
  margin-right: 50px;
  /* margin-left: 75px; */
  padding-bottom: 5px;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  padding: 5px 10px;
  border-bottom: #444444;
}
.first-nav li a:hover{
  border-radius: 2px;
background-color: #4279E5;
color:white;
}
header nav {
  display: flex;
  align-items: center;
  border-bottom: solid #444444;
}
.FeaTips-Logo {
  margin:20px 0 0 100px;
  height: 80px;
  width: 150px;
}
.FeaTips-Logo img {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-bar {
  display: flex;

  width: 100%;
}
.lien {
  margin-left: 25%;
}
.btn-connexion-inscription {
  display: flex;
  margin-right: 50px;
  justify-content: flex-end;
}
.btn-1{
  margin-right:10px;
}
.btn{
  width: 110px;
  margin: 10px;
  padding:10px;
  text-align:center;
  cursor: pointer;
  transition: 0,5s;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  color: white;
  border-radius: 50px;
  background-size: 200%;
}
.btn-1{
  background:white;
  color:#4279E5;
  
}
.btn-1:hover{
  color:#444444;
  font-weight: bolder;
}
.btn-2{
  background-image: linear-gradient(
    to right, #444444, #4279E5, #444444);
}
.btn-2:hover{
  background-position: right;
  box-shadow: 0 0 20px #4279E5;
  font-weight: bolder;
}
@media all and (max-width: 991px)
{
    .nav
    {
        height: 60px;
    }
 
    nav .container 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .container a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .container {
        display: flex;
    }
}