@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  justify-content: space-evenly;
}

/* bannière d'accueil */
.banniere-article {
  position: relative;
  display: inline-block;
}
.banniere-article-img {
  width: 100%;
  height: 440px;
  background: url("../assets/imgFeaTips/headerPageAccueil.jpg") center;
  background-size: cover;
  box-shadow: 0px 2px 5px #444444;
  position: block;
}
.banniere-accueil p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  font-family: "Francois One", Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 3em;
}
#brand1 {
  color: #4279e5;
  background-color: #fff;
}

/* slider articles à la une */
.carousel {
  width: 90%;
  margin: 5%;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
  background-color: rgba(44, 44, 44);
  box-shadow: 0px 2px 5px #444444;
  border-radius: 10px;
}
.carousel h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Francois One", sans-serif;
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  padding: bottom 30px top 10px;
}
.splide {
  padding-top: 20px;
}
.splide__track {
  padding-left: 60px !important;
  padding-bottom: 20px !important;
}
.splide__slide img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #444444;
}
.description-article {
  position: absolute;
  bottom: 20%;
  top: 20%;
  width: 350px;
  background-color: rgb(255, 255, 255, 0.5);
}
.description-article p {
  text-align: center;
  padding-right: 5px;
}
.title-article {
  font-family: "Francois One";
  font-size: 18px;
  color: black;
  letter-spacing: 1px;
}
.description-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: black;
}
.authors {
  font-family: "Roboto", sans-serif;
  color: #444444;
  font-size: 15px;
}
.splide__pagination {
  bottom: 0 !important;
}
.splide__pagination__page {
  opacity: 0.7 !important;
  opacity: 0.9 !important;
}
.splide__arrow svg {
  fill: #4279e5 !important;
  height: 1.2em;
  width: 1.2em;
}
/* bannière call to action forum */
.cta-forum {
  margin-top: 70px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.forum-img {
  width: 100%;
  height: 350px;
  background: url("../assets/imgFeaTips/imgfooter.jpg") center;
  background-size: cover;
  box-shadow: 0px 2px 5px #444444;
  display: block;
}
.cta-forum a {
  text-decoration-style: none;
}
.cta-forum a p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  font-family: "Francois One", Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  color: #fff;
  line-height: 3em;
}
#brand2 {
  color: #4279e5;
  text-shadow: 0 0 10px #4279e5;
}
/* media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banniere-accueil-img {
    height: 300px;
  }
  .banniere-accueil p {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 3em;
  }
  .carousel {
    padding: 2%;
  }
  .carousel h2,
  .coachs h2 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .splide {
    padding-top: 2%;
  }
  .splide__track {
    padding-left: 40px !important;
    padding-bottom: 40px !important;
  }
  .splide__slide img {
    width: 250px;
    height: 250px;
  }
  .description-article {
    width: 250px;
  }
  .title-article {
    font-size: 16px;
  }
  .description-text {
    font-size: 12px;
  }
  .authors {
    font-size: 1px;
  }
  /* banniere cta forum */
  .cta-forum {
    margin-top: 40px;
  }
  .forum-img {
    height: 250px;
  }
  .cta-forum a p {
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 2em;
  }
}

@media screen and (max-width: 767px) {
  .banniere-accueil-img {
    height: 150px;
  }
  .banniere-accueil p {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 2em;
  }
  .carousel {
    padding: 2%;
  }
  .carousel h2,
  .coachs h2 {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .splide {
    padding-top: 2%;
  }
  .splide__track {
    padding-left: 70px !important;
    padding-bottom: 40px !important;
  }
  .splide__slide img {
    width: 200px;
    height: 200px;
  }
  .description-article {
    width: 200px;
    bottom: 8%;
    top: 8%;
  }
  .title-article {
    font-size: 14px;
  }
  .description-text {
    font-size: 11px;
  }
  .authors {
    font-size: 1px;
  }
  /* banniere cta forum */
  .cta-forum {
    margin-top: 20px;
  }
  .forum-img {
    height: 150px;
  }
  .cta-forum a p {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2em;
  }
}
