@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  justify-content: space-evenly;
} 
header {
  background: url('../imgFeaTips/img/woman-g2c3b5e81d_1920.jpg');
  background-size: 
}
.carousel1 {
    width: 90%;
    margin: 5%;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: rgba(44, 44, 44);
    box-shadow: 0px 2px 5px #444444;
    border-radius: 10px;
  }
  .carousel1 h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Francois One", sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    padding: bottom 30px top 10px;
  }
  .splide {
    padding-top: 20px;
  }
  .splidetrack {
    padding-left: 60px !important;
    padding-bottom: 20px !important;
  }
  .splideslide img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #444444;
  }
  .description-article {
    position: absolute;
    bottom: 20%;
    top: 20%;
    width: 350px;
    background-color: rgb(255, 255, 255, 0.5);
  }
  .description-article p {
    text-align: center;
    padding-right: 5px;
  }
  .title-article {
    font-family: "Francois One";
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
  }
  .description-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: black;
  }
  .authors {
    font-family: "Roboto", sans-serif;
    color: #444444;
    font-size: 15px;
  }
  .splidepagination {
    bottom: 0 !important;
  }
  .splidepaginationpage {
    opacity: 0.7 !important;
    opacity: 0.9 !important;
  }
  .splidearrow svg {
    fill: #4279e5 !important;
    height: 1.2em;
    width: 1.2em;
  } 